<div class="forms">
  <%= simple_form_for(@kid, html: { class: 'form-horizontal' }) do |f| %>
    <%= f.input :first_name, required: false, input_html: { class: 'form-control' } %>
    <%= f.input :last_name, required: false, input_html: { class: 'form-control' } %>
    <%= f.input :birthdate, as: :date, start_year: Date.today.year - 110, end_year: Date.today.year, required: false, input_html: { class: 'form-control' } %>
    <%= f.input :gender, collection: [['Boy', Kid::BOY], ['Girl', Kid::GIRL]], required: false, input_html: { class: 'form-control' } %>
    <%= image_tag @kid.photo.expiring_url(3600, :thumb) if @kid.photo? %>
    <%= f.input :photo, as: :file, required: false, label: 'Add/Change Photo' %>
    <%= f.input :created_by, :as => :hidden, :input_html => { value: determine_created_by(@kid, current_user) } %>
    <br/>

    <%= link_to 'Cancel', :back, class: 'btn btn-secondary btn-secondary-outline devise-buttons' %>
    <%= f.submit 'Save', class: 'pull-right btn btn-info btn-info-outline devise-buttons' %>
  <% end %>
</div>
