<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 card card-block registration-form">
  <div class="row">
    <div class="comment-header">
      <div class="comment-count-container">
        <p class='comment-count-area'>Edit Personal Information</p>
      </div>
      <div>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

          <%= f.input :first_name, autofocus: true, required: false %>
          <%= f.input :last_name, required: false %>
          <%= image_tag resource.photo.url(:thumb, false) if resource.photo? %>
          <%= f.input :photo, as: :file, required: false, label: 'Add/Change Profile Photo' %>

          <h4 class="edit-form-headers">Change Email or Password</h4>

          <%= f.input :email, required: false %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
            <%= f.hint "leave blank if you don't want to change it" %>
          </div>

          <%= f.input :password_confirmation, required: false, autocomplete: "off" %>

          <h4 class="edit-form-headers">Save Updates</h4>

          <div class="form-group">
            <%= f.label :current_password %>
            <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
            <%= f.hint "we need your current password to confirm your changes" %>
          </div>

          <%= f.submit 'Update', class: 'btn btn-info solid-button' %>
        <% end %>

        <h4 id='cancel-account' class="edit-form-headers">Cancel my account</h4>

        <p>
          <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger btn-danger-outline' %>
        </p>

      <div class='devise-cancel'>
        <%= link_to "Back", :back, class: 'text-muted' %>
      </div>
    </div>
  </div>
</div>
