<h2>Edit Personal Information</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :first_name, autofocus: true, required: false %>
  <%= f.input :last_name, required: false %>
  <%= image_tag resource.photo.url(:thumb, false) if resource.photo? %>
  <%= f.input :photo, as: :file, required: false, label: 'Add/Change Profile Photo' %>

  <br />

<h2>Change Email or Password</h2>

  <%= f.input :email, required: false %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
  </div>

  <%= f.input :password_confirmation, required: false, autocomplete: "off" %>

  <br />

<h2>Save Updates</h2>

  <div class="form-group">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
    <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
  </div>

  <%= f.submit 'Update', class: 'btn btn-info solid-button' %>
<% end %>

<h3 id='cancel-account'>Cancel my account</h3>

<p>
  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger btn-danger-outline' %>
</p>

<div class='devise-cancel'>
  <%= link_to "Back", :back, class: 'text-muted' %>
</div>
