<div class="col-lg-2 col-sm-3 hidden-sm-down">
  <%= render 'layouts/side_nav/navbar' %>
</div>

<div class="col-lg-8 col-sm-9 timeline-container">
  <%= render 'search/search_title' %>
  <% path = search_path %>
  <%= render 'search/form', locals: { path: @path } %>

  <% if params[:query].present? %>
    <% if @posts.empty?  %>
      <div class='search-results'>
        <p>0 results</p>
      </div>
    <% else %>
      <div class='search-results'>
        <p><%= pluralize(@posts.count, 'result') %></p>
      </div>
      <%= render 'layouts/quotes' %>
      <%= will_paginate @posts %>
    <% end %>
  <% end %>
</div>

<div class="col-lg-2 col-sm-1"></div>
