<div class="card ">
  <h3 class="card-header timeline-header-header <%=kid.gender%>-timeline-header">
    <%= image_tag kid.pictures.profile_pictures.last.photo.url(:medium, false), class: 'timeline-header-photo' if kid.pictures.profile_pictures.last %>
    <%= kid.full_name %><br />
    <span class='post-show-kid-info hidden-sm-down'>
      <%= content_tag(:span, kids_current_age(kid), class: 'post-show-kid-age') %><br />
      <%= content_tag(:span, "Born #{kids_birthday(kid)}", class: 'post-show-kid-birthday text-muted') %>
    </span>
  </h3>
  <div class="card-block timeline-header-block">
    <div class="post-show-mobile-kid-info hidden-sm-up">
      <%= content_tag(:p, kids_current_age(kid), class: 'post-show-kid-age') %>
      <%= content_tag(:p, "Born #{kids_birthday(kid)}", class: 'post-show-kid-birthday') %>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content kids-timeline-modal">
      <%= image_tag kid.pictures.profile_pictures.last.photo.url(:medium, false), class: '' if kid.pictures.profile_pictures.last %>
    </div>
  </div>
</div>


<script>
  $('.timeline-header-photo').on('click', function() {
    $('.bs-example-modal-sm').modal('show');
  });
</script>
