<div class="card card-block">
  <div class="row">
    <div class="comment-header">
      <div class="comment-count-container">
        <p class='comment-count-area'><%= pluralize(@comments.count, 'comment') %></p>
      </div>
      <div>
        <%= render 'comments/form' %>
      </div>
    </div>
  </div>

  <% @comments.each do |comment| %>
    <div class='row comment-container'>
      <div class="col-lg-1 col-xs-12 timeline-picture">
        <%#= image_tag @post.kid.picture.photo.url(:thumb, false), class: 'timeline-photo' if @post.kid.photo? %>
      </div>

      <div class="col-lg-11 col-xs-12">
        <p class="card-title comment-headline">
          <span class="comment-author"><%= comment.user.full_name %></span>
          <span class="comment-created-at"><%= time_ago_in_words comment.created_at %> ago</span>
        <% if (can? :manage, comment) || (can? :destroy, comment) %>
          <span>
            <%= link_to(post_comment_path(@post, comment), method: :delete, data: { confirm: 'Delete this comment?' }, class: 'comment comment-delete-button text-muted post-show-buttons pull-right') do %>
              <i class="fa fa-times" aria-hidden="true"></i>
            <% end %>
          </span>
        <% end %>
        </p>
        <p><%= comment.body %></p>
      </div>
    </div>
  <% end %>
</div>
