<div class="hidden-sm-down col-lg-2 col-sm-3">
  <%= render 'layouts/side_nav/navbar' %>
</div>

<div class="col-lg-8 col-sm-9 timeline-container">
  <div class="card ">
    <div class="card-block">
      <h4 class="card-title post-show-title">When <%= post_show_age_said @post %></h4>
      <h6 class="card-subtitle text-muted"><%= post_date_said @post %></h6>
    </div>
    <div class="post-show-picture">
      <%= image_tag @post.picture.photo.url(:medium, false), class: 'card-img-top show-photo' if @post.picture %>
    </div>

    <div class="card-block" id="accordion">
      <%= highlight_kids_quote @post %>

      <span><%= share_post_button @kid %></span>

      <span class="pull-right text-muted post-author">captured by <%= friendly_name @post.user, @post.kid %></span>

      <%= render 'option_buttons' if current_user %>

      <% unless @post.visibile_to_friends_and_family? %>
        <p class='parents-eyes'><%= visibility_level_for @post %></p>
      <% end %>
    </div>
  </div>

  <%= render 'posts/display_comments' if current_user %>

</div>

<div class="col-lg-2 col-sm-1"></div>
