<div class="hidden-sm-down col-lg-2 col-sm-3">
  <%= render 'layouts/side_navbar' %>
</div>

<div class="col-lg-8 col-sm-9">
    <div class="card ">
      <div class="card-block">
        <h4 class="card-title post-show-title">When <%= post_age_said @post %></h4>
        <h6 class="card-subtitle text-muted"><%= post_date_said @post %></h6>
      </div>
        <div class="post-show-picture">
          <%= image_tag @post.kid.photo.expiring_url(3600, :medium), class: 'card-img-top show-photo' if @post.kid.photo? %>
        </div>

        <div class="card-block">
          <%= highlight_kids_quote @post %>

          <span> <%= link_to 'Back', :back, class: 'comment text-muted post-show-buttons' %> </span>

          <% if can? :manage, @post %>
            <span> <%= link_to 'Edit', edit_post_path(@post), class: 'comment text-muted post-show-buttons' %> </span>
            <span> <%= link_to('Delete', post_path(@post), method: :delete, remote: true, data: { confirm: 'Delete this quote?' }, class: 'comment text-muted post-show-buttons') %> </span>
          <% end %>

          <span class="pull-right text-muted post-author">captured by <%= @post.user.first_name.titleize %></span>
        </div>
    </div>
</div>

<div class="col-lg-2 col-sm-1"></div>
