<div class="forms">
  <%= simple_form_for @friend_and_family do |f| %>
    <%= f.input :kid_id, collection: current_user.kids.order(:first_name), label_method: :full_name, value_method: :id, required: false, input_html: { class: 'form-control' } %>

    <%= f.input :follower_id, label: "Friend/Family Member That Can View My Kid's Quotes", collection: User.potential_friends_and_family_members_of(current_user), label_method: :full_name, value_method: :id, required: false, input_html: { class: 'form-control friend_family_select' } %>

    <%= f.input :can_create_posts, label: 'This friend/family member can also create quotes for my kid', required: false %>

    <%= link_to 'Cancel', :back, class: 'btn btn-secondary btn-secondary-outline devise-buttons' %>
    <%= f.submit 'Save', class: 'pull-right btn btn-info btn-info-outline devise-buttons' %>

    <%= render 'invite_new_member' %>
  <% end %>
</div>


<script>
  $('.friend_family_select').select2();
</script>
