<h5 class="page-title">Friends & Family</h5>

<div class="table-responsive">
  <table class="table table-striped">
    <thead class="family-table">
      <tr>
        <th>Friend/Family Member</th>
        <th>Kid</th>
        <th>Can View Quotes</th>
        <th>Can Create Quotes</th>
        <th>Edit Access</th>
        <th>Remove Access</th>
      </tr>
    </thead>
    <tbody class="family-table">
      <% @friends_and_families.each do |fam| %>
        <tr>
          <td><%= friends_name(fam) %></td>
          <td><%= kids_name(fam) %></td>
          <td>Yes</td>
          <td><%= yes_or_no fam.can_create_posts %></td>
          <td><%= link_to 'Edit', edit_friend_and_family_path(fam) %></td>
          <td><%= link_to 'Remove', friend_and_family_path(fam), method: :delete, data: { confirm: "Remove #{friends_name(fam)}'s friend/family member access to #{kids_name(fam)}?" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class='family-index-button'>
  <%= link_to "Add New Friend/Family Member", new_friend_and_family_path, class: 'btn btn-info btn-info-outline devise-buttons' %>
</div>
