<% @posts.each do |post| %>
  <% if can? :read, post %>
    <div class="card card-block">
      <div class='row'>
        <div class="col-lg-1 col-xs-12 timeline-picture">
          <% if post.photo? %>
            <%= link_to((image_tag post.photo.url(:thumb, false), class: 'timeline-photo'), post) %>
          <% end %>
        </div>
        <div class="col-lg-11 col-xs-12">
          <p class="card-title"><%= link_to(headline(post), post, class: 'text-muted') %></p>
          <%= link_to(post, class: 'post-body') do %>
            <%= highlight_kids_quote post %>
          <% end %>

          <%= link_to comment_link_and_count(post), post, class: 'card-link comment text-muted' %>
          <span class="pull-right text-muted post-author">captured by <%= post.user.first_name.titleize %></span>

          <% if post.parents_eyes_only? %>
            <p class='parents-eyes'>parents eyes only</p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
