<div class="col-lg-2 col-sm-3 hidden-sm-down">
  <%= render 'layouts/side_navbar' %>
</div>

<div class="col-lg-8 col-sm-9">
  <% if @kid %>
    <%= render partial: 'posts/timeline_headers/kids', locals: { kid: @kid } %>
  <% else %>
    <%= render partial: 'posts/timeline_headers/main' %>
  <% end %>

  <% @posts.each do |post| %>
    <div class="card card-block">
      <div class='row'>
        <div class="col-lg-1 col-xs-12 timeline-picture">
          <%= image_tag post.kid.photo.expiring_url(3600, :thumb), class: 'timeline-photo' if post.kid.photo? %>
        </div>

        <div class="col-lg-11 col-xs-12">
          <p class="card-title"><%= link_to(headline(post), post, class: 'text-muted') %></p>
          <%= highlight_kids_quote post %>

          <%= link_to "More | Comment", post, class: 'card-link comment text-muted' %>
          <span class="pull-right text-muted post-author">captured by <%= post.user.first_name.titleize %></span>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="col-lg-2 col-sm-1"></div>
