<div class="col-md-2">
  <%= render 'layouts/side_navbar' %>
</div>

<div class="col-md-8">
  <% @posts.each do |post| %>
    <div class="card card-block">
      <div class='row'>
        <div class="col-sm-1 picture">
          <%= image_tag post.kid.photo.url(:square)  if post.kid.photo.url %>

          <%#= image_tag('janie_thumbnail.jpg', width: 50, height: 50) %>



          </div>

        <div class="col-sm-11">
          <p class="card-title"><%= headline post %></p>
          <%= highlight_kids_quote post %>

          <%= link_to "Comment", post, class: 'card-link comment text-muted' %>
          <span class="pull-xs-right text-muted post-author">captured by <%= post.user.first_name.titleize %></span>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="col-md-2"></div>
