<nav class="navbar navbar-full navbar-dark top-navbar">
  <div class="container">
    <%= link_to 'Things My Kids Said', '#', class: 'navbar-brand' %>

      <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#navbar-ul">
    &#9776;
  </button>

    <div class="collapse navbar-toggleable-xs" id="navbar-ul">
      <ul class="nav navbar-nav pull-sm-right">
        <% if current_user %>
          <%= content_tag(:li, link_to('+ Create A Quote', new_post_path, class: 'top-navbar-links nav-link'), class: 'nav-item') %>

          <li class="nav-item dropdown">
            <a class="top-navbar-links nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Your Kids</a>
            <div class="dropdown-menu">
              <% if kids = your_kids %>
                <% kids.each do |kid| %>
                  <%= link_to kid.name.titleize, kid_posts_path(kid.id), class: 'dropdown-item' %>
                <% end %>
                <div class="dropdown-divider"></div>
                  <%= link_to "New Kid", new_kid_path, class: 'dropdown-item' %>
                </div>
              <% else %>
                <%= link_to "New Kid", new_kid_path, class: 'dropdown-item' %>
              <% end %>
          </li>

          <li class="nav-item top-navbar-links nav-link"><%= current_user.first_name %></li>
          <li class="nav-item"><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'top-navbar-links nav-link' %></li>
        <% else %>
          <li class="nav-item"><%= link_to "Sign In", new_user_session_path, class: 'top-navbar-links nav-link' %></li>
          <li class="nav-item"><%= link_to "Sign Up", new_user_registration_path, class: 'top-navbar-links nav-link' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
