<!DOCTYPE html>
<html>
<head>
  <title>ThingsMyKidsSaid</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
  <div class="container">
    <div>
      <% if current_user %>
       Hello <%= current_user.email %>! <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path %> or
        <%= link_to "Sign Up", new_user_registration_path %>
      <% end %>
    </div>

    <div>
      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% elsif flash[:error] %>
        <%= flash[:error] %>
      <% end %>
    </div>

    <div>
      <%= link_to 'New Quote', new_post_path %>
      <%= link_to 'New Kid', new_kid_path %>
      <%= link_to 'Your Kids', kids_path %>
    </div>

<%= yield %>
  </div>
</body>
</html>
