<!DOCTYPE html>
<html>
<head>
  <title>Things My Kids Said</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

  <%= render 'layouts/top_navbar' %>
  <div class="container whole-site-container">

    <div>
      <% if flash[:notice].present? %>
        <%= content_tag(:div, flash[:notice], class: "flash-messages") %>
      <% elsif flash[:error].present? %>
        <%= content_tag(:div, flash[:error], class: "flash-messages") %>
      <% end %>
    </div>

<%= yield %>
  </div>
</body>
</html>
